<form class="form-signin" role="form"  data-ng-submit="login()" data-ng-hide="token">
	<h2 class="form-signin-heading">Please sign in</h2>

	<label for="username" class="sr-only">Username</label>
	<input type="text" id="username" class="form-control" placeholder="Username" data-ng-model="username" required autofocus>

	<label for="password" class="sr-only">Password</label>
	<input type="password" id="password" class="form-control" placeholder="Password" data-ng-model="password" required>

	<div class="checkbox">
		<label>
			<input type="checkbox" value="remember-me"> Remember me
		</label>
	</div>

	<button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
